<h2>Lista de Clientes</h2>

<ul>
  <li *ngFor="let cliente of clientes">
    {{ cliente.nombre }} {{ cliente.apellido }} - {{ cliente.correo }}
    <button (click)="editarCliente(cliente)">Editar</button>
    <button (click)="eliminarCliente(cliente.id)">Eliminar</button>
  </li>
</ul>

<h2>Agregar Cliente</h2>

<form (submit)="agregarCliente()">
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" [(ngModel)]="nuevoCliente.nombre" required />

  <label for="apellido">Apellido:</label>
  <input
    type="text"
    id="apellido"
    [(ngModel)]="nuevoCliente.apellido"
    required
  />

  <label for="correo">Correo:</label>
  <input type="email" id="correo" [(ngModel)]="nuevoCliente.correo" required />

  <label for="cif">Cif:</label>
  <input type="text" id="cif" [(ngModel)]="nuevoCliente.cif" required />

  <label for="direccion">Direccion:</label>
  <input
    type="text"
    id="direccion"
    [(ngModel)]="nuevoCliente.direccion"
    required
  />

  <label for="provincia">Provincia:</label>
  <input
    type="text"
    id="provincia"
    [(ngModel)]="nuevoCliente.provincia"
    required
  />

  <label for="codigo_postal">Codigo Postal:</label>
  <input
    type="number"
    id="codigo_postal"
    [(ngModel)]="nuevoCliente.codigo_postal"
    required
  />

  <label for="telefono">Telefono:</label>
  <input
    type="number"
    id="telefono"
    [(ngModel)]="nuevoCliente.telefono"
    required
  />

  <button type="submit">Agregar</button>
</form>

<h2>Editar Cliente</h2>

<form *ngIf="clienteSeleccionado" (submit)="actualizarCliente()">
  <label for="nombre">Nombre:</label>
  <input
    type="text"
    id="nombre"
    [(ngModel)]="clienteSeleccionado.nombre"
    required
  />

  <label for="apellido">Apellido:</label>
  <input
    type="text"
    id="apellido"
    [(ngModel)]="clienteSeleccionado.apellido"
    required
  />

  <label for="correo">Correo:</label>
  <input
    type="email"
    id="correo"
    [(ngModel)]="clienteSeleccionado.correo"
    required
  />

  <label for="cif">Cif:</label>
  <input type="text" id="cif" [(ngModel)]="nuevoCliente.cif" required />

  <label for="direccion">Direccion:</label>
  <input
    type="text"
    id="direccion"
    [(ngModel)]="nuevoCliente.direccion"
    required
  />

  <label for="provincia">Provincia:</label>
  <input
    type="text"
    id="provincia"
    [(ngModel)]="nuevoCliente.provincia"
    required
  />

  <label for="codigo_postal">Codigo Postal:</label>
  <input
    type="number"
    id="codigo_postal"
    [(ngModel)]="nuevoCliente.codigo_postal"
    required
  />

  <label for="telefono">Telefono:</label>
  <input
    type="number"
    id="telefono"
    [(ngModel)]="nuevoCliente.telefono"
    required
  />

  <button type="submit">Actualizar</button>
</form>
