<!-- Lista de películas -->
<div *ngIf="modo === 'lista'">
  <h2>Lista de películas</h2>
  <table>
    <!-- Código para mostrar la tabla de películas -->
    <!-- Cada fila de la tabla debería tener un botón "Detalle" para llamar al método 'verDetalle(pelicula)' -->
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Género</th>
        <th>Director</th>
        <th>Duraccion</th>
        <th>Sinopsis</th>
        <th>Year</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pelicula of peliculas">
        <td>{{ pelicula.id }}</td>
        <td>{{ pelicula.titulo }}</td>
        <td>{{ pelicula.genero }}</td>
        <th>{{ pelicula.director }}</th>
        <th>{{ pelicula.duracion }}</th>
        <th>{{ pelicula.sinopsis }}</th>
        <th>{{ pelicula.year }}</th>
        <td>
          <button (click)="verDetalle(pelicula)">Detalle</button>
          <button (click)="editarPelicula(pelicula)">Editar</button>
          <button (click)="mostrarConfirmacionBorrado(pelicula)">Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="mostrarFormulario()">Agregar Película</button>
</div>

<!-- Detalle de película -->
<div *ngIf="modo === 'detalle' && peliculaSeleccionada">
  <h2>Detalle de la película</h2>
  <p>ID: {{ peliculaSeleccionada.id }}</p>
  <p>Título: {{ peliculaSeleccionada.titulo }}</p>
  <p>Género: {{ peliculaSeleccionada.genero }}</p>
  <p>Director: {{ peliculaSeleccionada.director }}</p>
  <p>Duraccion: {{ peliculaSeleccionada.duracion }}</p>
  <p>Sinopsis: {{ peliculaSeleccionada.sinopsis }}</p>
  <p>Año: {{ peliculaSeleccionada.year }}</p>
  <!-- Agrega más detalles si es necesario -->
  <button (click)="regresarALista()">Regresar a la lista</button>
</div>

<!-- Formulario de película -->
<div *ngIf="modo === 'form'">
  <h2>Formulario de película</h2>
  <!-- Código para mostrar el formulario -->
  <!-- Agrega los campos necesarios para ingresar los detalles de la película -->
  <app-pelicula-form
    (guardarPelicula)="guardarPelicula($event)"
  ></app-pelicula-form>
  <button (click)="regresarALista()">Volver al listado</button>
</div>

<div *ngIf="mensajeExito" class="mensaje-exito">
  {{ mensajeExito }}
</div>

<!-- Formulario de edición de película -->
<div *ngIf="modo === 'editar' && peliculaSeleccionada">
  <h2>Editar Película</h2>
  <form (ngSubmit)="guardarPelicula(peliculaSeleccionada)">
    <div>
      <label for="titulo">Título</label>
      <input
        type="text"
        id="titulo"
        name="titulo"
        [(ngModel)]="peliculaSeleccionada.titulo"
        required
      />
    </div>
    <div>
      <label for="genero">Género</label>
      <input
        type="text"
        id="genero"
        name="genero"
        [(ngModel)]="peliculaSeleccionada.genero"
        required
      />
    </div>
    <div>
      <label for="director">Director</label>
      <input
        type="text"
        id="director"
        name="director"
        [(ngModel)]="peliculaSeleccionada.director"
        required
      />
    </div>
    <div>
      <label for="duracion">Duración</label>
      <input
        type="number"
        id="duracion"
        name="duracion"
        [(ngModel)]="peliculaSeleccionada.duracion"
        required
      />
    </div>
    <div>
      <label for="sinopsis">Sinopsis</label>
      <textarea
        id="sinopsis"
        name="sinopsis"
        [(ngModel)]="peliculaSeleccionada.sinopsis"
        required
      ></textarea>
    </div>
    <div>
      <label for="year">Año</label>
      <input
        type="number"
        id="year"
        name="year"
        [(ngModel)]="peliculaSeleccionada.year"
        required
      />
    </div>
    <!-- Agrega más campos según las propiedades de la película -->

    <button type="submit">Guardar</button>
    <button (click)="regresarALista()">Cancelar</button>
  </form>
</div>

<!-- Confirmación de borrado -->
<div *ngIf="modo === 'confirmacionBorrado' && peliculaSeleccionada">
  <h2>Confirmar borrado</h2>
  <p>
    ¿Estás seguro de que quieres borrar la película
    {{ peliculaSeleccionada.titulo }}?
  </p>
  <button (click)="borrarPelicula()">Confirmar</button>
  <button (click)="cancelarBorrado()">Cancelar</button>
</div>

<!-- Formulario de agregar película -->
<div *ngIf="modo === 'agregar'">
  <h2>Agregar Película</h2>
  <form (ngSubmit)="agregarPelicula()">
    <label for="titulo">Título:</label>
    <input
      type="text"
      id="titulo"
      name="titulo"
      [(ngModel)]="nuevaPelicula.titulo"
      required
    />
    <label for="genero">Género:</label>
    <input
      type="text"
      id="genero"
      name="genero"
      [(ngModel)]="nuevaPelicula.genero"
      required
    />

    <label for="director">Director</label>
    <input
      type="text"
      id="director"
      name="director"
      [(ngModel)]="nuevaPelicula.director"
      required
    />

    <label for="duracion">Duración</label>
    <input
      type="number"
      id="duracion"
      name="duracion"
      [(ngModel)]="nuevaPelicula.duracion"
      required
    />

    <label for="sinopsis">Sinopsis</label>
    <textarea
      id="sinopsis"
      name="sinopsis"
      [(ngModel)]="nuevaPelicula.sinopsis"
      required
    ></textarea>

    <label for="year">Año</label>
    <input
      type="number"
      id="year"
      name="year"
      [(ngModel)]="nuevaPelicula.year"
      required
    />

    <!-- Agrega los demás campos necesarios -->

    <button type="submit">Guardar</button>
    <button type="button" (click)="cancelarAgregar()">Cancelar</button>
  </form>
</div>
